header.header
    .header__column
        .header__column__logo
            a(href=routes.home)
                i.fas.fa-globe.fa-lg
        .header__column__title
            | Dooravel
    .header__column
        //- search
    .header__column
        ul
            li 
                a(href=routes.login) Login
            li
                a(href=routes.logout) Logout