header.header
    .header__column
        .header__column__logo
        .header__column__title
            | Dooravel
    .header__column
        //- search
    .header__column
        ul
            li 
                a(href=routes.login) Login
            li
                a(href=routes.logout) Logout