body {
    margin: 0;
}

h1 {
    text-align: center;
    border-bottom: 1.5px darkslateblue solid;
    padding: 20px;
    margin: 0;
}

ol {
    border-right: 1.5px darkslateblue solid;
    width: 100px;
    margin: 0;
    padding-top: 15px;
}

a {
    color: forestgreen;
    text-decoration: none;
}

.curpage {
    color: firebrick;
    text-decoration: none;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#contents {
    padding-left: 16px;
}

@media(min-width: 801px) {
    #lv-container {
        padding: 150px;
        padding-top: 50px;
    }
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
    }

    #contents {
        padding-right: 16px;
    }
    
    #lv-container {
        margin-left: 5px;
        margin-right: 5px;
    }
}

img {
    max-width: 100%;
    height: auto;
}
