.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.main-header {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.main-header__text {
    margin-left: 20px;
    color: #965e0c;
}

.main-container {
    width: 100vw;
    height: 200vh;
    background: radial-gradient(
                1.5em 6.28571em at 1.95em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.25) 50%,
                rgba(255, 255, 255, 0.25) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            0 0,
        radial-gradient(
                1.5em 6.28571em at -0.45em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.25) 50%,
                rgba(255, 255, 255, 0.25) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            1.5em 5.5em,
        radial-gradient(
                2.3em 4.57143em at 2.99em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.3) 50%,
                rgba(255, 255, 255, 0.3) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            0 0,
        radial-gradient(
                2.3em 4.57143em at -0.69em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.3) 50%,
                rgba(255, 255, 255, 0.3) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            2.3em 4em,
        radial-gradient(
                3.5em 6.28571em at 4.55em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.25) 50%,
                rgba(255, 255, 255, 0.25) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            0 0,
        radial-gradient(
                3.5em 6.28571em at -1.05em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.25) 50%,
                rgba(255, 255, 255, 0.25) 55%,
                rgba(255, 255, 255, 0) 55%
            )
            3.5em 5.5em,
        radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.main__box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__box {
    width: 80vw;
    height: 30vh;
    background: rebeccapurple;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.main__box-container:nth-child(1),
.main__box-container:nth-child(3),
.main__box-container:nth-child(5) {
    transform: translateX(-10vw);
}

.main__box-container:nth-child(2),
.main__box-container:nth-child(4) {
    transform: translateX(10vw);
}

.main__box__img {
    width: 100%;
}

.main__box-container:nth-child(4) .main__box__img {
    margin-bottom: 20%;
}

.main__box__text {
    margin: 10px;
    color: #963b11;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
}

.main__box__text a {
    color: #963b11;
}

.fa-flag-usa {
    color: #963b11;
    margin: 0px 10px;
}
