@font-face {
  font-family: "Nanum Gothic", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
  display: swap;
}

body {
  margin: 0;
  font-family: Nanum Gothic;
}

h1 {
  text-align: center;
  border-bottom: 1.5px darkslateblue solid;
  padding: 20px;
  margin: 0;
}

ol {
  border-right: 1.5px darkslateblue solid;
  width: 100px;
  margin: 0;
  padding-top: 15px;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.curpage {
  color: firebrick;
  text-decoration: none;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#contents {
  padding-left: 16px;
  padding-right: 16px;
}
.DivImg {
  height: 689px;
  width: 919px;
}

@media (min-width: 801px) {
  #lv-container {
    padding: 150px;
    padding-top: 50px;
  }

  img {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 800px) {
  #grid {
    display: block;
    grid-template-rows: 1fr 9fr;
  }

  ol {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    width: inherit;
    height: inherit;
    list-style-type: none;
    border-right: none;
    position: sticky;
    top: 0;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }

  #lv-container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .DivImg {
    height: 300px;
    width: 612px;
  }
}
