@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 45%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.recommend_post {
  color: #dbd2bd;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(128, 128, 128, 0.5);
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  text-align: center;
  border-bottom: 1.5px darkslateblue solid;
  padding: 20px;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#curpage {
  color: firebrick;
  text-decoration: none;
}

.curcity {
  color: olivedrab;
  text-decoration: none;
}

#title {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#title > div > h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#title > div > h5 {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

.Lee_story_line {
  color: gray;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  padding-top: 4px;
  padding-bottom: 4px;
}

.img_description {
  color: gray;
}

.not_upload {
  color: gray;
}

.DivImg {
  height: 689px;
  width: 919px;
}

.contents {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 76px;
}

@media (min-width: 701px) {
  #lv-container {
    padding: 150px;
    padding-top: 50px;
  }

  img {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
  }

  .menu-ul > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
  }

  .img_description {
    display: block;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #grid {
    display: block;
    grid-template-rows: 1fr 9fr;
  }

  .DivImg {
    height: 300px;
    width: 612px;
  }

  .contents {
    padding-top: 55px;
  }

  div[class="sidebar"] {
    top: 55px;
  }

  .swiper-container {
    height: 30%;
  }
  .comments_header {
    all: unset;
    color: white;
    position: relative;
    display: inline;
    background-color: rgba(128, 128, 128, 10);
  }
}
