@import "font.css";
@import "swiper.css";
@import "header.css";
@import "post_component.css";
@import "post_button.css";

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f6fa;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  border-bottom: 1.5px darkslateblue solid;
  padding: 20px;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.contents {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 76px;
}

@media (min-width: 701px) {
  img {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .DivImg {
    height: 300px;
    width: 612px;
  }
}
